{% extends "proj/base.html.twig" %}

{% block title %}About Project{% endblock %}

{% block body %}
    <h1>About</h1>

    <div class="container">
        <section class="about-text">
            <h2>Test</h2>

            <p>test</p>
    </div>

    <footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
    </footer>

{% endblock %}
