{% extends "proj/base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="proj-h1">God Hälsa och Välbefinnande</h1>

    <div class="proj-parag">
        <p>Välbefinnande är något vi inte kan ta för givet. I dagens samhälle lever vi i en miljö full av stimulans och stress, allt ska gå fort och det ska vara enkelt. Dessvärre glömmer vi ofta bort hur viktig vår hälsa och välbefinnande är. Sjukvården ska inte heller tas för givet, det är långt ifrån alla som har tillgång till sjukvård överhuvudtaget. Utöver att ha tillgång till sjukvård så är det även andra faktorer som spelar stor roll och som påverkar våra hälsa. Bland annat är det ekonomiska-, ekologiska- och sociala faktorer som påverkar människors hälsa.</p>
        <p>För att uppnå våran fulla potential är vi i behov av en god hälsa som grund. På så vis kan vi ha möjlighet att bidra i sin tur till en god välfärd och samhällets utveckling. Enligt <a href="https://globalamalen.se/om-globala-malen/mal-3-halsa-och-valbefinnande/">Globala Målen</a> så har människors hälsa förbättrats märkbart under de senaste decennierna. Bland annat har barndödligheten minskat med 50% sedan 1990. Detta har kunnat åstadskommas genom förebyggande insatser samt modern och effektiv vård. Investeringar som detta har gynnat samhällets utveckling och skapat de förutsättningar människor idag har. Det har påverkat människors grundläggande rättigheter på ett positivt sätt och lett till högre välbefinnande.</p>
        <p>De 17 Golbala målen har delats in i mindre delmål, för att kunnat göra de mer hanterbara och lättare att uppnå. Här nedan kommer det att tas upp några av de delmål som står med på Globala Målen-webbplats. Du kan även se några diagram som visar data om ämnet genom att klicka på namnet.</p>
        <li>3.1: <a href="{{ path('diagram_matern') }}">Minska mödradödligheten</a> - Många kvinnor har dessvärre inte möjlighet att ha en säker förlossning av olika anledningar. Det kan vara brist på tillgång till vård i närdheten, ekonomiska förutsättningar, mm. Delmålet ämnar att minska mödradödligheten till 2030 till sifforna 70 dödsfall per 100 000 förlossningar med levande barn.</li>
        <li>3.2: <a href="{{ path('diagram_barn') }}">Förhindra alla dödsfall som hade kunnat förebyggas bland barn under fem år</a> - Med detta vill man säkehetsställa att dödfall som hade kunnat förebyggas inte ska ske. Man vill att alla länder ska arbeta för att förhindra att spädbarn eller barn under fem år dör av orsaker som hade kunnat förebyggas. Det bör strävas efter att minska den neonatal dödligheten till 12 dödsfall per 1 000 levande födda. För unga under 25 år ska siffran uppgå till max 25 dödsfall per 1 000 levande födda.</li>
        <li>3.8: Tillgängliggör sjukvård för alla - Alla människor bör ha rätt till grundläggande hälso- och sjukvård. Med delmålet vill man åstadskomma detta så att alla ha tillgång till det. Det ska finnas tillgång till sjukvård av god kvalitet samt säkra, effektiva och ekonomiskt överkomliga läkemedel och vaccion för att säkerhetsställa en god kvalitet av grundläggande sjukvård, för all människor.</li>
        <li>3.C: Öka finansiering och personal till utvecklingsländers hälso- och sjukvård - I flera utvecklingsländer är det brist på god vård. Man bör i mån av möjlighet öka insatserna för att stärka rekrytering, utbilda samt behålla en sjukpersonal, framförallt i de minst utvecklade länderna. Det är av vikt att väsentligt stärka finansieringen av hälso- och sjukvården i dessa länder för att öka människors möjlighet till god hälso- och sjukvård.</li>
    
        <p> Några tips för att uppnå detta målet, som finns att läsa på Globala målen-webbplats, är att exempelvis ge blod. Det är något som vi kan göra från Sverige och som kan vara livavgörande för andra människor som befinner sig i en sårbar situation och som är i behov av det. Det är något vi kan göra för att bidra till andra människors liv och välmående. Ett annat tips är att försöka hålla en god hälsa själv; på så vis kan man leva ett självständigt liv, försörja sig och bidra till samhällets tillväxt. Att ta hand om sig själv gör också samhället en tjänst. Det sista tipset är att vaccinera sig. Det gör att vi håller oss friskare vilket bidrar till att samhället i stort också mår bra.</p>
    </div>

    <footer class="proj-footer">
        <ul class="right-list">
            <p>Information som finnes på denna webbplats har inhämtats från följande källor:</p>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/produktrelaterat/Fordjupad-information/fakta-om-indikatorer-for-hallbar-utveckling/">Fakta om hållbar utveckling</a></li>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/">Indikatorer för hållbar utveckling</a></li>
            <li><a href="https://globalamalen.se/om-globala-malen/">Om globala målen</a></li>
        </ul>

        <p>&copy; A.S. Projekt för kursen Objektorienterade webbteknologier; MVC</p>
    </footer>

{% endblock %}
