{% extends "proj/base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="proj-h1">Project</h1>

    <div class="container">
        <section class="proj-text">
            <h2>Test</h2>

            <p>test</p>
    </div>

    <footer class="proj-footer">
        <ul class="right-list">
            <p>Mer information om de globala målen:</p>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/produktrelaterat/Fordjupad-information/fakta-om-indikatorer-for-hallbar-utveckling/">Fakta om hållbar utveckling</a></li>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/">Indikatorer för hållbar utveckling</a></li>
            <li><a href="https://globalamalen.se/om-globala-malen/">Om globala målen</a></li>
        </ul>

        <p>&copy; A.S. Projekt för kursen Objektorienterade webbteknologier; MVC</p>
    </footer>

{% endblock %}
