{% extends "proj/base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="proj-h1">Hållbarhet</h1>

    <div class="proj-container">
        <section class="proj-text">
            <h2>Globala mål</h2>
                <p>Hållbar utveckling har varit en stor fråga de senaste åren, inte minst för att ta hand om världen och de resurser den tillbringar oss. För att uppnåg en god och hållbar utveckling har FN tagit fram 17 globala mål. Det innebär att dessa mål är gemensamma för världens länder och ämnar att uppnå följande fyra saker till år 2030. Dessa mål finns även att läsa här: <a href="https://globalamalen.se/om-globala-malen/">Globala målen</a></p>
                    <li>Att avskaffa extrem fattigdom.</li>
                    <li> Att minska ojämlikheter och orättvisor i världen.</li>
                    <li>Att främja fred och rättvisa.</li>
                    <li>Att lösa klimatkrisen.</li>
                <p>För att uppnå detta tog FN fram gemensamma mål för alla länder. Det gäller 17 stycken globala mål, som syns på bilden brevid. Hittils är dessa målen de mest ambitiösa överenskommelsen för att uppnå en god och hållbar utveckling. Viktiga punkter inom hållbarhet som har integrerats i dessa mål är de sociala-, ekonomiska- samt miljömässiga utgångspunkerna.</p>
                <p>Enligt globalamalen.se har framtagandet av de Globala målen samt Agenda 2030 tagits fram av FN:s 193 medlemsländer. I FN:s historia är denna process den mest transparenta och inkluderade processen hittils. För att komma fram till de 17 Globala målen krävdes breda diskussioner under hela processen, konsultationer och globala upprop. Det har varit en mycket omfattande process där representanter från hela världen deltog. På deras hemsida kan man lära sig mer om de Globala målen, vad som är unika med dessa, hur Sverige arbetar för att uppnå dem, mm.</p>
                <p>På denna webbplats kommer vi att fokusera mer i djupet på en av de 17 Globala målen; mål nummer 3, God Hälsa och Välbefinnande. Detta mål ämnar att {{ '"säkerställa hälsosamma liv och främja välbefinnande för alla i alla åldrar"' }}, enligt vad som framgår på Globala målen-webbplats. <a href="{{ path('halsa') }}">Klicka här</a> för att läsa mer om målet.</p>
        </section>

        <aside class="proj-pic">
            <h3>17 Globala Målen</h3>
            <a href="{{ asset('img/malen.png') }}">
                <img src="{{ asset('img/malen.png') }}" alt="Globala målen">
            </a>
        </aside>

    </div>

    <footer class="proj-footer">
        <ul class="right-list">
            <p>Information som finnes på denna webbplats har inhämtats från följande källor:</p>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/produktrelaterat/Fordjupad-information/fakta-om-indikatorer-for-hallbar-utveckling/">Fakta om hållbar utveckling</a></li>
            <li><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/">Indikatorer för hållbar utveckling</a></li>
            <li><a href="https://globalamalen.se/om-globala-malen/">Om globala målen</a></li>
        </ul>

        <p>&copy; A.S. Projekt för kursen Objektorienterade webbteknologier; MVC</p>
    </footer>

{% endblock %}
