{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Card Card Game Game text text <a href="https://en.wikipedia.org/wiki/Pig_(dice_game)"> 
basics of the game on Wikipedia</a>.</p>

<nav>
    <ul>
        <li><a href="{{ path('session_show') }}">Session</a></li>
        <li><a href="{{ path('deck_of_cards') }}">Deck</a></li>
        <li><a href="{{ path('deck_shuffle') }}">Shuffled Deck</a></li>
        <li><a href="{{ path('draw_a_card') }}">Draw a card</a></li>
    </ul>
</nav>

{% endblock %}
