{% extends "base.html.twig" %}

{% block title %}Session details{% endblock %}

{% block body %}
<h1>Session Details</h1>

{% if sessionData is empty %}
        <p><strong>The session is empty.</strong></p>
    {% else %}
        <pre>{{ dump(sessionData) }}</pre>
    {% endif %}

    {{ include('flash.html.twig') }}

    <p><a href="{{ path('session_delete') }}">Clear the session</a></p>

<footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
