{% extends "base.html.twig" %}

{% block title %}Deck of cards{% endblock %}

{% block body %}

<h1>Start game 21</h1>

<p>You can start the game here below:</p>

<form method="post" action="">
    <input type="submit" name="start" value="Start playing">
</form>

<footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
