{% extends 'base.html.twig' %}

{% block title %}Create a book{% endblock %}

{% block body %}

<h1>Add a new book here:</h1>

{{ form_start(form, { 'action': path('add_book'), 'method': 'POST' }) }}
    {{ form_widget(form) }}
    <button class="btn">Spara</button>
{{ form_end(form) }}

{% endblock %}
