{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<h1>The library</h1>

<p>At the moment, you can find three books in the library. It is possible to see the books details by clicking on the link here below.</p>
<p>You can also add a new book and update or delete a book from their own site.</p>

<p>Create a new book here: <a href="{{ path('create_book') }}">Create book</a></h2>

<p>You can see all the books here: <a href="{{ path('library_show_all') }}">See books</a></h2>

{% endblock %}
