body {
    background-color: rgba(230, 191, 136, 0.546);
    margin: 0 auto;
    max-width: 1200px;
    font-size: 1em;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

.site-header img {
    height: 100px;
    margin-right: 20px;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 20px;
}

.site-header nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    border-bottom: 4px double #ab7bcfdc;
}

img {
    max-height: 200px;
}

.container {
    display: flex;
    gap: 60px;
    max-width: 800px;
    padding: 30px;
}

.about-text {
    flex: 2;
    padding: 20px;
}

.about-links {
    flex: 1;
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #9057b173;
}

.left {
    flex: 1;
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #9057b173;
    background-color: aqua;
}

.right {
    flex: 1;
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #9057b173;
    background-color: aquamarine;
}

.site-footer {
    background-color: #e19c6bcf;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

input {
    font-size: 1em;
}

.die {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-success {
    padding: 0.5em;
    color: rgba(74, 112, 18, 0.936);
    background-color: rgba(89, 219, 89, 0.674);
    border-color: rgba(60, 91, 20, 0.832);
}

.card {
    display: inline-block;
    font-size: 1.5em;
    margin: 6px;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.494);
}

.scrutinizer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.scrutinizer img {
    display: inline-block;
    height: 30px;
}

.specpic img {
    max-height: 50px;
}

.proj-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #67e083a1;
}

.proj-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.proj-header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 50px;
    padding: 0;
}

.proj-header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.proj-body {
    background-color: #a8e0c8a8;
    margin: 0 auto;
    max-width: 1600px;
    font-size: 1em;
}

.proj-footer {
    background-color: #67e0abc5;
    color: white;
    text-align: right;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

.right-list {
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

.proj-h1 {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px #67C5E0;
    text-align: center;
}

.proj-text {
    flex: 2;
    padding: 20px;
}

.proj-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    padding: 30px;
}

.proj-text {
    flex: 1;
    padding: 30px;
}

.proj-pic {
    max-width: 100%;
    height: auto;
}

.proj-parag {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: baseline;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}
