{# templates/api.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>All APIs</title>
    </head>
    <body>
        <h1>All working APIs</h1>

        <p>You will find all the available APIs here:</p>

        <table>
            <thead>
                <tr>
                    <th>Route</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/api/</td>
                    <td>Overview for all available APIs</td>
                </tr>
                <tr>
                    <td>/api/quote</td>
                    <td>Shows a random quote with some date and time details</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
