{% extends "base.html.twig" %}

{% block title %}Kmom10{% endblock %}

{% block body %}
    <h1>Kmom10</h1>
    <h2>Redovisningstext Kmom10:</h2>
    <p>Jag har inga förkunskaper förutom de kurserna jag har läst i kurspaketet; det är webtec-, design- samt databas-kursen. Jag har inga kunskaper om objektorientering men har någorlunda koll på hur PHP fungerar samt Twig och Markdown. De grunderna man behöver ha koll på gällande PHPs klasser och objekt är att de är beroende av varandra. En klass är som ett mall för objektet där man definierar hur den fungerar och vad den gör. En klass innehåller de egenskaper och metoder för objektet. Det som deklareras i klassen är egenskaperna som innehåller data i form av variabler eller attribut eller metoder som är funktioner.</p>
    <p>Kodstrukturen i uppgiften har varit svår att få grepp på. Det är många filer och många delar som ska fungera ihop för att få ihop webbplatsen, vilket kändes lite rörigt i början. Jag gjorde övningen två gånger innan jag gjorde själva uppgiften och det blev lite klarare när man väl började med report. Koden känns hanterbart nu men det är fortfarande lite oklart över vad alla filer gör och hur de påverkar själva webbplatsen.</p>
    <p>Från artikeln ”PHP The Right Way” så tyckte jag att delen ”Coding Practices” var bra att gå igenom, framförallt för att fräscha upp minnet om hur man jobbar med PHP. Det var även intressant att läsa om ”Templating” för att få en överblick hur templates fungerar, då förstod jag att det är ungefär som views. Jag hade velat veta mer om säkerhet och hur man kan jobba för att undvika dataintrång.</p>
    <p>Min TIL för detta kmom är vikten av att jobba på ett strukturerat sätt. Att ha bra koll på sin kod och bygga upp en bra struktur från början samt att vara noga med vart man placerar sin kod. Det blir lätt att något går fel och då kan det vara svårt att förstå hur det ena påverkar det andra. Det är också viktigt att lägga ner tid på att förstå vad man har och hur de olika delarna (templates, controllers, mm.) samarbetar ihop och varför de är beroende av varandra för att det ska fungera.</p>
<footer class="site-footer">
    <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
