{% extends "base.html.twig" %}

{% block title %}Kmom01{% endblock %}

{% block body %}
    <h1>Kmom01</h1>
    <h2>Redovisningstext Kmom01:</h2>
    <p>Text</p>

<footer class="site-footer">
    <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
