{% extends "base.html.twig" %}

{% block title %}Kmom05{% endblock %}

{% block body %}
    <h1>Kmom05</h1>
    <h2>Redovisningstext Kmom05:</h2>
    <p>Det gick bra att jobba igenom Symfoni & Doctrine-övningen. Övningen var välstrukturerad och enkel att arbeta med. Något som jag däremot tänkte på var att i övningen så används inte POST för att hantera exempelvis uppdatering av data, vilket gjorde att man blev lite förvirrad över hur man skulle hantera det sedan. Efter lite forskning så släppte det men det kändes som att något saknades och det var lite svårt att greppa. Det löste sig och gav chansen att utforska lite djupare i hur doctrine ihop med symfony fungerar. När jag byggde applikationen så stötte jag på olika problem/frågor som var först svåra att lösa; ett av de var hur man skulle bygga upp formulären i symfony. Då upptäckte jag efter lite utforskning att man kan skapa formuläret med hjälp av symfony via composern. Det var i början svårt och lite läskigt att testa, eftersom att jag var rädd att min kod skulle kompromissas på något sätt men jag tyckte ändå att det var ett smidigt sätt att använda sig av symfonys funktioner.</p>
    <p>Att jobba med ORM i CRUD tyckte jag var smidigt. CRUD är ett bra sätt att strukturera upp sitt arbete och täcka flera bra delar när man jobbar med skapandet av data/produkter i en databas. Jag tyckte också att det var lätt med ORM för att arbeta med PHP direkt mot databasen. Det var väldigt smidigt att få in data direkt in i en databas via objekt och metoder, vilket underlättar kodstrukturen och minimerar denna. I databas-kursen var det väldigt mycket SQL-kod vilket gjorde att man tappade bort mycket kod i alla filer man hade. Att jobba med ORM gör det enklare att lägga in data direkt in i en databas med mycket mindre kod. Min TIL för detta krom blir att vara mer öppen för dina arbetssätt, som exempel att skapa formulär via Symfony och våga testa nya saker som är utanför ens komforten, även om det är lite läskigt att råka förstöra något. Det är viktigt att utforska nya möjlighet att jobba på ett smidigare sätt och våga ta andra vägar för att se om och hur det fungerar.</p>
<footer class="site-footer">
    <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
