{% extends "base.html.twig" %}

{% block title %}Kmom01{% endblock %}

{% block body %}
    <h1>Kmom03</h1>
    <h2>Redovisningstext Kmom03:</h2>
    <p>Modellering av ett kortspel var i början lite svårt; det kändes svårt att hantera och veta vart man skulle börja men att sätta upp ett flödesschema var till stor hjälp. När man löste ett flödesdiagram kunde man på ett smidigare sätt se hur själva spelet skulle fungera och hur man kunde lösa uppgiften. Även att skriva pseudokod var till hjälp eftersom att det tillåter att skriva koden lite hur som helst, vilket gjorde att man kunde bygga upp en struktur och se spelets helhet. Det var ändå lite svårt att gå från pseudokod till riktig kod eftersom att det inte riktigt fungerade från början men det var ett start. Det känns som ett bra sätt att ta sig an ett problem, strukturera upp arbetet och börja någonstans. Man får ett bredare helhetsbild över problemet och kan på ett enklare sätt ta sig an uppgiften och komma på lösningar.</p>
    <p>För att lösa uppgiften så följde jag instruktionernas upplägg och löste då uppgiften genom att först kolla igenom hur spelet skulle fungera, vilka regler som skulle finnas samt hur spelgången skulle se ut. Sedan satte jag upp ett flödesschema som gav mig en helhetsbild över vilka frågeställningar som spelet behövde lösa. Vidare skrev jag pseudokod för hur själva spelets struktur skulle se ut, vilka routes som skulle behövas och vad som skulle göras. När jag väl började arbeta insåg jag att en del av det som jag hade skrivit i min pseudokod kunde lösas i klasserna, men det var skönt att ha haft koden strukturerat först ändå. I den stora helheten är jag nöjd med spelet; det har varit utmanande att lösa uppgiften och spelet är i all enkelhet för att lösa spelet men jag är ändå nöjd. Jag har en bra struktur i min kod och klasserna. Eventuellt att jag inte hade behövt ha en klass för varje korthand men det kändes lättare att ha bankens hand i en klass och spelarens i en annan. På så vis kunde varje hand ha sina egna regler.</p>
    <p>Min känsla så här långt gällande kodning i Symfony är god. Det känns smidigt att kunna använda det ramverket som kommer med mycket färdigt på något vis och bygga upp något med en grund. Även om det känns som att det är mycket filer som jag inte riktigt vet vad de gör så känns det som en bra grund att bygga en applikation på.</p>
    <p>Min TIL för detta kmom är att ha en god struktur att utgå ifrån och vikten av att se ett problem med en helhetsperspektiv. Dela upp problemet i mindre delar och skapa byggstenar för att lösa problemet. Ett flödesschema tycker jag underlätta mycket för att se över hur det kan lösas och pseudokod som en start på en lösning för att komma igång.</p>
<footer class="site-footer">
    <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
