{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2>Här är länkarna till de olika redovisningstexter</h2>

    <li><a href="{{ path('kmom01') }}">Kmom01</a></li>
    <li><a href="{{ path('kmom02') }}">Kmom02</a></li>
    <li><a href="{{ path('kmom03') }}">Kmom03</a></li>
    <li><a href="{{ path('kmom04') }}">Kmom04</a></li>

    <footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
    </footer>

{% endblock %}
